<div>
    <h2>Resumen de Menús Seleccionados</h2>
    <ul>
      <li *ngFor="let selectedMenu of menusSelected">
        <div>
          <h3>{{ selectedMenu.name }}</h3>
          <p>Precio: ${{ selectedMenu.price }}</p>
          <p>Detalles: {{ selectedMenu.details }}</p>
          <p>Categoría: {{ selectedMenu.category }}</p>
          <p>Ingredientes:</p>
          <ul>
            <li *ngFor="let ingredient of selectedMenu.ingredients">{{ ingredient }}</li>
          </ul>
        </div>
      </li>
    </ul>
    <p>Total: ${{ getTotalPrice2() }}</p>
</div>
